html{
  max-width: 1024px;
  margin:0 auto;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(240,240,240);
  color: rgb(0,0,0)
}

.mobile{
  display: none;
}

a{
  text-decoration: none;
}

/* header */

.header{
  padding: auto 1.5rem;
  height: 4rem;
  display: flex;
  background-color: rgb(248, 248, 248);
}

.logo{
  display: flex;
  flex: 1;
}

.logo img{
  margin-top: 0.5rem;
  width:2rem;
}

.logo h1{
  margin-top:1.5rem;
  font-weight: bold;
}

.logo h1:before{
  content:'COLMAR';
  color:black;
}

.logo h1:after{
  content:'ACADEMY';
  color:rgb(105,105,105);
}


.header ul{
  display: flex;
  margin-top: 1.5rem;
  font-weight: bold;
}

.header li{
  margin-left: 1rem;
  margin-right: 1rem;
}

.header a {
  color: rgb(105,105,105);
  text-decoration: none;
}

/* First Part */

.first{
  padding: 2rem 1.5rem;
  background-color: rgb(232, 232, 232);
  display: flex;
}

.banner{
  width: 60%;
}

.banner img{
  width: 100%;
}

.first .content{
  margin-left: 1.5rem;
  width: 35%;
  padding-top: 4rem;
}

.first .content h1{
  font-size: 2.5rem;
  font-family: 'Acme', sans-serif;
}

.first .content h2{
  padding-top: 1rem;
  font-size: 1.5rem;
}

.block{
  background-color: grey;
  margin-top:1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.first a{
  color:white;
  font-size: 1.5rem;

}

/* Second Part */

.second{
  padding: 2rem 1.5rem;

  display: flex;
  background-color: rgb(246, 246, 246);
}

.left{
  width: 60%;
}

.left img{
  width: 100%;
}

.left h1{
  margin-top: 2rem;
}

.left p{
  margin-top: 1.5rem;
}

.right{
  width: 40%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: flex;
  margin-bottom: 1rem;
  font-weight: bold;
}

.container img{
  width: 35%;
  height: 30%;
}

.container .content{
  width: 65%;
  margin: auto;
  margin-left: 1rem;
}

.container h1{
  font-size: 1.5rem;
  font-weight: bold;
}

.container p{
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.container a{
  text-decoration: none;
  color: hsl(210, 100%, 50%);
}
/* Third Part */

.third{
  padding: 2rem 4.5rem;
  background-color: rgb(232, 232, 232);
}

.title{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
}

.third .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.third .blocks{
  background-color: white;
  width: 30%;
  margin-bottom: 2rem;
}

.third img{
  width: 100%;
}

.third .elements{
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.elements h1{
  font-weight: bold;
  margin-top: 1rem;
}

.elements p{
  margin-top: 0.5rem;
}

.elements h2{
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* Fourth Part */

.fourth{
  padding: 2rem 1.5rem;
  background-color: rgb(246, 246, 246);
}

.fourth .title{
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
}

.fourth .video{
  width: 60%;
  margin-right: 1.5rem;
}

.fourth .right{
  width: 40%;
}

.fourth .content{
  display: flex;

}

.fourth .right{
  display: flex;
  justify-content: flex-start;
}

.fourth .blocks{
  display: flex;
  padding: 1rem;
}

.fourth .img{
  max-width: 35%;
  margin-right: 1rem;
}

.fourth .ele{
  height: 100%;
  width: 65%;
}

.fourth img{
  max-width: 100%;
  max-height: 100%;
}


.ele h1{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.fourth p{
  margin-top: 0.5rem;
}

/* Footer */

.footer{
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}


/* Mobile Section*/

@media only screen and (max-width: 470px){

  .header{
    display: none;
  }

  .first{
    display: none;
  }

  .second{
    display: none;
  }

  .third{
    display: none;
  }

  .fourth{
    display: none;
  }

  .footer{
    display: none;
  }

  .mobile{
    display: block;
    max-width: 100%;
  }

  .mobile nav{
    background-color: rgb(248, 248, 248);
  }

  .mobile img{
    max-width: 100%;

  }

  .mobile ul {
    display: flex;
    align-items: center;
    height: 4rem;
  }

  .mobile li{
    margin-left:3rem;
  }

  .mobile .one{
    padding: 2rem 1rem;
    background-color: rgb(248, 248, 248);
  }

  .one h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Acme', sans-serif;
  }

  .mobile .block{
    margin-top: 1.5rem ;
    background-color: rgb(190, 190, 190);
    color: white;
    font-weight: bolder;
  }

  .mobile .two{
    padding: 1rem;
    padding-bottom: 0rem;
  }

  .blocks .con{
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .blocks h3{
    padding-bottom: 0.5rem;
  }

  .blocks p{
    padding-bottom: 0.5rem;
  }

  .con a{
    color: hsl(210, 100%, 50%);
  }

  .blocks{
    background-color: white;
  }

  .mobile .three{
    padding: 1rem;
    background-color: rgb(248, 248, 248);
  }

  .three .title{
    font-size: 2rem;
    text-align: center;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .three .nav{
    background-color: rgb(229,230,255);
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  .four .title{
    margin: 1rem;
    font-size: 2rem;
  }

  .m-footer{
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
  }

  .title{
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
  }

}
